---
Language                                       : Cpp
AllowShortIfStatementsOnASingleLine            : false
AllowShortLoopsOnASingleLine                   : false
AllowShortFunctionsOnASingleLine               : Empty
BasedOnStyle                                   : Google
ConstructorInitializerAllOnOneLineOrOnePerLine : false
ConstructorInitializerIndentWidth              : 0
ColumnLimit                                    : 120
Standard                                       : Cpp11
...

